version: '2'

services: 
    sugar-mariadb: 
        network_mode: "bridge"
        environment:
            MYSQL_ROOT_PASSWORD: "t0pSECr3t"
        image: mariadb
        container_name: "sugar-mariadb"
        expose:
            - 3306
    sugar:
        network_mode: "bridge"
        build:
            context: ./
        image: "sugarengine"
        container_name: "sugar"
        links:
            - sugar-mariadb
        expose:
            - 5000
        environment:
            ASPNETCORE_URLS: "http://0.0.0.0:5000"
        volumes:
            - /other/docker/sugar/logs:/app/PlayGen.SUGAR.Server.WebAPI/logs
