.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
	font-weight: bold;
	font-size: +1.4em;
}

.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover
{
	background-color: #00aeef;
}

a, a:hover, a:visited {
	color: #00aeef;
}

#autocollapse {
	background-color: #e5007e;
}

.navbar-brand {
	margin-right: 16px;
}

button.navbar-toggle {
	border-color: white;
}
button.navbar-toggle:hover {
	background-color: #ffec00;
}
button.navbar-toggle:hover .icon-bar {
	background-color: black;
}

@media (min-width: 1300px)
.container {
    width: 1245px;
}

.nav>li>a {
    padding: 15px 10px;
}