###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/
_site

# Auto Generated
api/
restapi/restapi.swagger2.json

# Copied in
unity-client/**/*

# Not copied in
!unity-client/toc.yml
!unity-client/index.md

# Don't ignore
!files/*.nupkg
